section.blocks_section_header
    header.header Текстовые блоки

section.blocks_section_content
    aside.aside
        div.total_blocks Всего блоков на странице:
            span  2
        div.selected_blocks Выделенных блоков:
            span  0
        div.green_blocks Выделенных зеленых блоков:
            span  0
        div.red_blocks Выделенных красных блоков:
            span  0
        button.add_block Добавить блок
        br
        div.add_block_container
            button.add_block_simple Добавить простой блок
            br
            button.add_block_hard Добавить сложный блок

    article.article
        div.block_simple Привет, я простой блок, меня можно выделить или удалить!
            div.close
        div.block_hard Привет, а я сложный блок, у меня еще можно и цвет поменять, если кликнуть дважды!
            div.close


